<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1 class="titles">Mis productos</h1>

    <div class="productosContenedor">
        {{#each productos}}
        <div class="cardProducto">
            <div class="cartItem">
                <p>ID: {{_id}}</p>
                <p class="cardTitle">{{title}}</p>
                <img src="{{img}}" alt="" class="cardImg">
                <p class="cardDescription">{{description}}</p>
                <p class="cardPrice">{{price}}</p>
                <div class="cardFooter">
                    <p class="cardStock">Stock: {{stock}}</p>
                    <p class="cardCategory">Categoria: {{category}}</p>
                </div>
                <button class="cardButton">Comprar</button>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="paginacion">
        {{#if hasPrevPage}}
        <a href="/products?page={{prevPage}}" class="btn btn-prev">Anterior</a>
        {{else}}
        <button class="btn btn-prev disabled" disabled>Anterior</button>
        {{/if}}

        <span class="page-number">Página {{currentPage}} de {{totalPages}}</span>

        {{#if hasNextPage}}
        <a href="/products?page={{nextPage}}" class="btn btn-next">Siguiente</a>
        {{else}}
        <button class="btn btn-next disabled" disabled>Siguiente</button>
        {{/if}}
    </div>
</body>

</html>